@using EntityLayer.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Hakkımda Başlığı</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
    </tr>
   @foreach (var i in Model)
   {

    <tr>
        <td>@i.AboutID</td>
        <td>Başlık</td>
        <td><a href="#" class="btn btn-outline-success">Aktif Yap</a></td>
        <td><a href="#" class="btn btn-outline-danger">Pasif Yap</a></td>
    </tr>

   }

    </table>

@Html.Action("AboutPartial","About")