@using EntityLayer.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Hakkımda Başlığı</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
    </tr>
   @foreach (var i in Model)
   {

    <tr>
        <td>@i.AboutID</td>
        <td>Başlık</td>
        <td><a href="#" class="btn btn-outline-success">Aktif Yap</a></td>
        <td><a href="#" class="btn btn-outline-danger">Pasif Yap</a></td>
    </tr>

   }

    </table>

<button class=" btn btn-primary" data-toggle="modal" data-target="#modal1">
    Yeni Hakkımızda Yazısı Girişi
</button>

<div class="modal" id="modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Hakkımızda Metin Girişi</h2>
            </div>
            <form method="post" action="/About/AddAbout">
                <div class="modal-body">
                    <label>Hakkımda Metin 1</label>
                    <input type="text" name="AboutDetails1" class="form-control" />
                    <br />
                    <label>Hakkımda Metin 2</label>
                    <input type="text" name="AboutDetails2" class="form-control" />
                    <br />
                    <label>Hakkımda Gorsel 1</label>
                    <input type="text" name="AboutImage1" class="form-control" />
                    <br />
                    <label>Hakkımda Gorsel 2</label>
                    <input type="text" name="AboutImage2" class="form-control" />
                    <br />
                    <button class="btn btn-outline-info">Oluştur</button>
                </div>
            </form>
        </div>
    </div>

</div>