
@{
    Layout = null;
}

<!DOCTYPE html>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<br />
<form method="post">
    <br />
    @Html.Label("Kategori Adı")
    <input name="CategoryName" type="text" placeholder="Kategori Adı Giriniz" class="form-control" />
    <br />
    @Html.Label("Kategori Açıklaması")
    <input name="CategoryDescription" type="text" placeholder="Kategori Açıklaması Giriniz" class="form-control" />
    <br />
    @Html.Label("Kategori Durumu")
    <input name="CategoryStatus" type="text" placeholder="Kategori Görünürlüğünü Belirtiniz True/False" class="form-control"/>
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>
